.cadastroUsuario {
    height: 100vh;
    background-image: url("/image/Depositphotos_10735175_xl-20152 1.png");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
}

.containerCadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 492px;
    border-radius: 10px;
    border-top: 35px solid #144A6A;
    padding: 23px;
    box-shadow:  5px 5px 30px rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.text {
    z-index: 1;
    margin-top: -75px;
    color: #fff;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoHealth {
    margin-top: 30px;
    width: 282px;
    height: 50px;
}

.span_text {
    margin-top: 20px;
    font-size: 10px;
    color: #03014C;
    font-weight: 500;
}

.button {
    margin-top: 5px;
}

#registrar {
    color: #fff;
    background-color: #144A6A;
    border: none;
}




